body {
  background-color: rgb(231, 231, 252);
}
.listItem {
  display: list-item;
  list-style-type: none;
}
.form-control {
  width: 120px;
  height: 20px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
